/* styles.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form-container {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .table-container {
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  /* Add additional styling as needed */
  .btn-primary {
    color: #fff !important;
    background-color: #ff6602 !important;
    border-color: #757575 !important;
  }
  .btn-primary:hover {
    color: #fff !important;
    background-color: #424242 !important;
    scale: 1.3;
    border-color: #ff6602 !important;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }  
  .modal-content{
    display: flex;
  }
  .modal-body form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* LargeItemInput.css */

/* Center the main container */


/* Style the input and button sections */
div > div {
  margin-bottom: 20px; /* Add some space between sections */
}

/* Style the table section */
table {
  width: 50%; /* Adjust the width as needed */
  border-collapse: collapse;
  margin-top: 20px; /* Add some space between sections */
}

table, th, td {
  border: 1px solid #ddd;
  text-align: left;
}

th, td {
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
/* Ndikwara.css */
.login-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px #ff6602;
  border-radius: 8px;
  width: 300px;
  z-index: 10;
  
}